@import '../setup';

.login-form-container {
    .input-container{
        margin-top: 0px;

        &.sm{
          width: 100%;
        }
        input[type="number"],
        input[type="password"],
        input[type="email"],
        input[type="text"]{
            font-size: 1.2em;
            padding: 0.2em;
        }
    }      
}

@media #{$mobileScreenSize} {
    .login-form-container {
        .input-container{
            margin-top: 0px;
        
            &.sm{
              margin-right: 0px;
              width: 100%;
            }
        }     
    }
  }