@import 'colors';

button:disabled {
    opacity: 0.3 !important;
    color: $white !important;
    &:hover {
        cursor: default;
    }
    svg {
        color: $white;
        stroke: $white;
    }
}

button {
    border: none;
    border-radius: 4px;
    color: $white;
    overflow: hidden;
    outline: none;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1rem 2rem;
    font-size: 1em;
    svg {
        color: $white;
        stroke: $white;
    }
    a {
        text-decoration: none;
    }
    &.primary {
        background: $light-blue;
    }
    &.danger {
        background: $red;
    }
    &.dark {
        background: $black;
    }
    &.secondary {
        color: $light-grey;
        background: transparent;
        svg {
            color: $light-grey;
        }
    }
    &.hide {
        display: none;
    }
}

@mixin button-style($color) {
    &:hover {
        color: $color;
        svg {
            color: $color;
            stroke: $color;
        }
    }
    &:after {
        background: $color;
    }
}

@mixin button-style-inverse($color) {
    &:hover {
        color: $color;
        background: transparent;
        svg {
            color: $color;
        }
    }
    &:after {
        background: $color;
    }
}

.btn {
    &.right {
        text-align: right;
    }
    button:enabled {
        &.primary {
            @include button-style($light-blue);
        }
        &.dark {
            @include button-style($black);
        }
        &.danger {
            @include button-style($red);
        }
        &.secondary {
            @include button-style-inverse($light-grey);
        }
        cursor: pointer;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        &:hover {
            -webkit-transition: all .7s ease;
            transition: all 1s ease;
            background: transparent;
            color: $light-blue;
            border-radius: 0;
            &:after {
                transition: all .3s ease;
                width: 100%;
                left: 0;
            }
        }
        &:after {
            position: absolute;
            transition: all .3s ease;
            content: '';
            width: 0;
            bottom: 0;
            left: inherit;
            right: 0;
            height: 3px;
        }
    }
}