$themeColor-black: rgba(35, 35, 43, 1);
$themeColor-light: rgba(154, 154, 154, 1);
$themeColor-lightLight: #eeeeee;
$themeColor-white: rgba(250, 250, 250, 1);
$themeColor-lightBlue: rgba(60, 142, 224, 1);
$themeColor-lightBlue-shadow: rgb(32, 99, 167);
$themeColor-darkBlue: rgba(40, 93, 145, 1);
$themeColor-red: rgba(220, 73, 58, 1);
$themeColor-red-shadow: rgb(160, 47, 34);
$themeColor-black-shadow: rgba(35, 35, 43, 0.2);
$themeColor-lightLightBlue: rgb(176, 204, 233);
$themeColor-orange: rgb(223, 108, 7);
$themeColor-purple: rgb(138, 8, 189);
$flag-color: rgba(35, 35, 43, 0.77);
$green: rgb(40, 157, 146);