@import 'colors';

.page-container {
    >.title {
        align-self: center;
        padding: 0 10px;
        text-align: center;
        margin: 70px 0;
        >p{
            color: $light;
            cursor: pointer;
        }
        >h1{
            line-height: 2rem;
            display: inline;
        }
    }
}

.toggle-title-filter{
    display: inline;

    &>a {
        color: $lighter;
        -webkit-transition: color 0.5s;
        -moz-transition:    color 0.5s;
        -ms-transition:     color 0.5s;
        -o-transition:      color 0.5s;
        transition:         color 0.5s;

        &:link {
            color: $lighter;
            text-decoration: none;
        }

        &:visited {
            color: $lighter;
            text-decoration: none;
        }

        &:hover {
            color: $light-blue;
        }

        &:active {
            color: $light-blue;
        }
    }
}