@import 'colors';

.list {
    display: grid;
    grid-auto-rows: 80px;
    grid-gap: 10px;
    overflow-y: auto;
    .list-item {
        align-items: center;
        align-content: center;
        border-radius: 10px;
        color: black;
        display: grid;
        filter: opacity(70%);
        grid-template-columns: 50px auto;
        grid-gap: 20px;
        padding: 20px;
        text-decoration: none;
        .list-item-data {
            .title {
                font-size: 18px;
                font-weight: 400;
            }
            .email {
                font-size: 16px;
                font-weight: 300;
            }
            .category-title {
                font-size: 18px;
                font-weight: 400;
                text-overflow: ellipsis;
            }
        }
        &:hover {
            filter: opacity(100%);
            cursor: pointer;
            background-color: $themeColor-lightLight
        }
        &.selected {
            filter: opacity(100%);
            color: white;
            svg {
                color: white;
            }
        }
    }
}