@import 'tags';

.list {
    display: grid;
    grid-auto-rows: 100px;
    overflow-y: auto;
    .list-item {
        align-items: center;
        align-content: center;
        background-color: #ffffff;
        border-bottom: solid 1px $themeColor-lightLight;
        display: grid;
        grid-template-columns: 50px auto;
        grid-gap: 10px;
        height: auto;
        padding: 20px;
        text-decoration: none;
        color: $themeColor-black;
        &.selected {
            background-color: $themeColor-lightLightBlue;
        }
        .list-item-data {
            .title {
                font-size: 18px;
                font-weight: 400;
            }
            .email {
                font-size: 16px;
                font-weight: 300;
            }
            .category-title {
                font-size: 18px;
                font-weight: 400;
                text-overflow: ellipsis;
            }
        }
        &:first-child {
            border-radius: 7px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 0px 7px;
        }
    }
    .list-item:hover {
        background-color: $themeColor-lightLightBlue;
    }
}