@import 'common/colors';
@import 'setup';
.modal-confirmation{
  height: auto;
  text-align: center;
  &.error {
    h1 {
      color: $themeColor-red;
    }
  }

  .modal-confirmation-buttons {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    button {
      font-family: $systemfont;
      margin: 5px;
      margin-top: 10px;
      display: block;
      font-size: 14px;
      min-width: 230px;
      max-width: 230px;
      background: $themeColor-lightBlue;
      color: $themeColor-white;
      border-radius: 7px;
      height: 35px;
      border: 0;
      justify-content: center;

      &:hover{
        background: $themeColor-lightBlue-shadow;
      }

      &.modal-cancel-button{
        background: none;
        color: $themeColor-blackish;
        margin: 0;
      
        &:hover{
          text-decoration: underline;
        }
      }
    }

  }
}