@import 'pills';

.edit-event-container, .profile-container {
    display: flex;
    flex-flow: row;
    .navbar {
        align-items: flex-end;
        display: flex;
        flex-flow: column;
        width: 30%;
        .navbar-button {
            margin: 10px;
        }
    }
    .edit-event-content, .profile-content {
        width: 100%;
    }
}