@import 'colors';

.tag {
    border-radius: 7px;
    border: solid 1px $light;
    padding: 5px;
    min-width: 60px;
    text-align: center;
    font-weight: 300;
    &.icon {
        min-width: 30px;
    }
}

.tag.icon:hover {
    cursor: pointer;
    border-color: $light-blue;
}

.green {
    color: $green;
    .tag {
        border: solid 1px $green;
    }
}