node_modules
src/public
.vscode
.DS_STORE

awsmobilejs/
appsync-info.json
aws-info.json
project-info.json
aws-exports.js
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/