@import '../common/colors';
@import '../setup';

div.edit {
    height: auto;
    border-left: solid 1px $themeColor-lightLight;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 5fr;
    grid-gap: 10px;
    padding: 50px;
    .label {
        height: auto;
        display: grid;
        grid-auto-rows: 70px;
        text-align: right;
        .label-grid-item {
            height: auto;
            .text {
                padding-top: 10px;
                height: auto;
                font-weight: 300;
            }
        }
    }
    form {
        display: grid;
        grid-auto-rows: 70px;
        .form-field {
            margin: 0;
        }
        input {
            font-size: 16px;
            background: none;
            border: none;
            border-bottom: 1px solid #cacacc;
            border-radius: 0;
            height: 35px;
            width: 99%;
            text-overflow: ellipsis;
            text-indent: 10px;
        }
        select {
            font-family: $systemfont;
            -webkit-appearance: none; 
            -moz-appearance: none;
            appearance: none;
        }
    }
}