@import '../common/header';
@import '../common/list';
@import '../common/colors';
@import '../common/button';

.spinner-wrapper {
    height: auto;
    .spinner {
        top: 50%;
        left: 50%;
        margin: auto;
        position: absolute;
    }
}

a {
    text-decoration: none;
}

.tool-bar {
    display: flex;
    flex-flow: row;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
}

.content {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 30% auto;
    height: 70vh;
    svg {
        color: $themeColor-light;
    }
}