@import '../common/header';
@import '../common/list';
@import '../common/colors';
@import '../common/pills';

.users-page {
    a {
        text-decoration: none;
    }
    display: grid;
    grid-template-rows: 200px auto 100px;
    height: auto;
    align-items: center;
    .tool-bar {
        display: flex;
        flex-flow: row;
        min-height: 80px;
        align-items: center;
        justify-content: space-between;
    }
    .content {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 40% auto;
        grid-auto-flow: column;
        border: solid 1px #eeeeee;
        border-radius: 7px;
        height: 70vh;
        svg {
            color: $themeColor-light;
        }
    }
}