@import '../common/colors';
@import '../setup';

.empty-events {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
        height: 200px;
    }
}