@import 'common/colors';
@import 'setup';

.event-details-container {
    display: flex;
}

.event-options-container {
    grid-column: 1;
    grid-row: 2; 
    border-right: solid 0.1rem $light;
    text-align: right;
    padding-right: 1rem;
}

.event-data-container {
    grid-column: 2;
    grid-row: 2; 
    display: grid;
    grid-template-rows: auto 10%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .name-displayer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

        .sm{
            margin-right: 30px;
            width: min-content;
        }
    }

    .registration-toggler{
        background: $lightLight;
        border-radius: 20px;
        padding-top: 0px;
        padding-left: 20px;
        width: 80%;
        margin-bottom: 15px;

    }

    .add-photos-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .photo-editor{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .show-image{
            padding: 20px;
            width: 300px;
            height: auto;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }

    }
}

.linger {
    pointer-events: auto !important;
    &:hover {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

.large-button-container{
    width: 100%;
}

.email-format{
    display: block;
    left: 0;
    position: absolute;
    top: -1000px;
    z-index: 99;
}

.form-general-data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.action-button-container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30px;

    span{
        font-size: 14px;
        max-width: 80px;
        font-weight: 450;
        color: $black;
        padding-top: 5px;
        padding-left: 5px;
        text-align: left;
    }

    .span-warning{
        font-size: 14px;
        color: $red-shadow;
        padding-top: 5px;
    }

    .span-disabled{
        font-size: 13px;
        color: $light;
        padding-top: 5px;
    }
}

.actions-container {
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 5px;

    .action-button{
        margin-right: 0.2rem;
        margin-top: 5px;
        font-size: 1rem;
        width: 50px;
        height: 50px;
        text-align: center;
        background: $white;
        color: $darkBlue;
        border-radius: 50%;
        border: 2px solid $darkBlue;

        -webkit-transition: color 0.5s, background 0.5s;
        -moz-transition:    color 0.5s, background 0.5s;
        -ms-transition:     color 0.5s, background 0.5s;
        -o-transition:      color 0.5s, background 0.5s;
        transition:         color 0.5s, background 0.5s;
    }
    .action-button:hover{
        background: $darkBlue;
        color: $white;
    }

    .action-button.warning{
        color: $red-shadow;
        border: 2px solid $red-shadow;
    }
    .action-button.warning:hover{
        background: $red-shadow;
        color: $white;
    }

    .action-button.disabled{
        color: $white;
        background: $light;
        border: 2px solid $light;
    }
    .action-button.disabled:hover{
        color: $white;
        background: $light;
        border: 2px solid $light;
    }
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    margin-left: -40px;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container > input {
    font-size: 16px;
    background: $white;
    border: 1px solid $light;
    height: 35px;
    width: 99%;
    text-overflow: ellipsis;
    text-indent: 10px;
  }

  .hidden-select > div > a, .select > div > a {
      display: block;
  }

  .event-data-container > form {
      overflow-y: auto;
  }

  .character-count {
      height: 20px;
      font-size: 14px;
  }

  .description-count {
    margin-bottom: 0.5rem;
  }

  
@media #{$mobileScreenSize} {

    .large-button-container{
        font-size: 12px;
    }

    .actions-container{
        margin: 15px 0px 0px 0px;
    }
    
    .action-button-container{
        span{
            font-size: 11px;
        }
    }

    .registration-toggler{
        padding: 30px;
    }

    form {
        .photo-editor{
            width: 100%;

            .show-image{
                padding: 0px;
                width: 100%;
            }
        }
    }
}
