@import 'themeColors';
@import 'setup';

.container-home {
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: 5rem auto;
}

.container-navbar {
    display: grid;
    grid-column: 2;
    grid-template-columns: 10% 90%;
}

.container-navbar-logo {
    grid-column: 1;
}

.container-navbar-buttons {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 150px 150px 150px 150px;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

.navbar-logo {
    height: 4rem;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}

.navbar-button {
    width: 100px;
    color: $themeColor-black;
    height: 30px;
    border: 0;
    font-size: 16px;
    font-family: $systemfont;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 30px;

    &#events-button {
        grid-column: 4;
    }
    &#categories-button {
        grid-column: 3;
    }
    &#sponsors-button {
        grid-column: 2;
    }

    &:hover {
        color: $themeColor-lightBlue;
    }
}

.selected-button-view {
    border-color: $themeColor-lightBlue;
    color: $themeColor-lightBlue;
    border-bottom: 4px solid;
}

.dropdown {
    grid-column: 5;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    display: grid;

    &#user-button {
        padding-top: 80px;
        margin: 0;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $themeColor-white;
    min-width: 150px;
    height: auto;
    box-shadow: 0px 8px 16px 0px $themeColor-black-shadow;
    z-index: 1;
    margin-top: 60px;
    box-shadow: 0px 8px 16px 0px $themeColor-black-shadow;
    right: 8rem;

    & a {
        float: none;
        color: $themeColor-black;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
        text-align: right;
        
        &:hover {
            background-color: $themeColor-light;
        }
    }
}

.dropdown:hover .dropdown-content {
    display: block;
    color: $themeColor-lightBlue;
}

.user {
    height: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    font-weight: 200;
}

.container-content {
    grid-column: 2;
}