@import 'common/themeColors';
@import 'setup';
@import 'common/select';
@import 'common/button';
@import 'sponsors';
@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900&subset=latin-ext');

html {
  font-family: $systemfont;
}

html, body, #root{
  height: 100%;
}

div {
  height: inherit;
}

// Images
.logo {
  width: 80%;
  height: 80%;
}

// Inputs
input, select {
  font-size: 16px;
  background: $themeColor-white;
  border: 1px solid $themeColor-light;
  border-radius: 7px;
  height: 35px;
  width: 99%;
  text-overflow: ellipsis;
  text-indent: 10px;
}

.form-field {
  width: 80%;
  margin-top: 10px;
}

.password-form-field {
  display: flex;
  position: relative;
}

button:focus {
  outline: 0;
}

.emptyField {
    border: 1px solid $themeColor-red;
}

.readyField {
  border: 1px solid #cacacc;
}

.form-field.buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
}

// Different kinds of input
input::-webkit-input-placeholder { 
  line-height: 1.5em;
}
input:-moz-placeholder { 
  line-height: 1.5em;
}
input::-moz-placeholder { 
  line-height: 1.5em;
}
input:-ms-input-placeholder { 
  line-height: 1.5em;
}

p {
  color: $themeColor-darkBlue;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  color: $themeColor-darkBlue;
  grid-row: 1;

  @media #{$mobileScreenSize} {
    font-size: 24px;
  }

  @media #{$desktopScreenSize} {
    font-size: 36px;
  }
}

h3 {
  font-weight: 400;
  color: $themeColor-light;
  text-align: center;
  font-style: italic;

  @media #{$mobileScreenSize} {
    font-size: 18px;
  }

  @media #{$desktopScreenSize} {
    font-size: 24px;
  }
}

// CSS Grid
.grid-container {
  display: grid;
}

// Messages
.message-error {
  margin-top: 5px;
  color: $themeColor-red;
  height: 20px;
  font-size: 14px;
  margin-top: 0;
}

// Buttons
.button-submit {
  margin-top: 5px;
  font-size: 16px;
  min-width: 150px;
  background: $themeColor-lightBlue;
  color: $themeColor-white;
  border-radius: 7px;
  height: 35px;
  float: right;
  border: 0;
}
.button-submit:disabled {
  background: $themeColor-light;
  color: $themeColor-white;
}

.button-newbie-logout {
  font-size: 13px;
  width: auto;
  background: transparent;
  color: $themeColor-black;
  border-radius: 7px;
  text-align: right;
  text-decoration: underline;
  height: 20px;
  margin-top: 20px;
  float: right;
  
  border: 0;
}

.button-unpublish {
  margin-top: 5px;
  font-size: 14px;
  min-width: 100px;
  max-width: 100px;
  background: $themeColor-darkBlue;
  color: $themeColor-white;
  border-radius: 7px;
  height: 35px;
  float: right;
  border: 0;
  justify-content: center;
}

#newbie-logout {
  color: red;
}

.passwordToggle{
  color:$themeColor-black;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 1em;
  height: auto;
  width: auto;
  position: absolute;
  top: 15%;
  right: 2%;
}

.modifyButtons{
  display: flex;
  height: auto;
  vertical-align: middle;
  width: 300px;

  span{
    align-self: center;
    margin: 0px;
    &.label {
      align-self: flex-start;
      margin: 4px;
    }
  }
  
}

