$themeColor-black: rgba(35, 35, 43, 1);
$themeColor-light: rgba(202, 202, 204, 1);
$themeColor-white: rgba(250, 250, 250, 1);
$themeColor-lightBlue: rgba(60, 142, 224, 1);
$themeColor-darkBlue: rgba(40, 93, 145, 1);