@import '../colors';
@import '../list';
@import '../tags';

.expanded-list {
    height: 70vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    .email {
        svg {
            color: $light;
        }
    }
    .small-display {
        flex-grow: 2;
        .expanded-selection {
            margin: 2% 0;
            form {
                .input-container {
                    min-width: 100%;
                }
            }
        }
    }
    .large-display {
        flex-grow: 2;
        max-width: 60%;
        .expanded-selection {
            margin-left: 2%;
            form {
                .input-container {
                    max-width: 250px;
                }
            }
        }
    }
    .expanded-selection {
        form {
            .input-container {
                margin: 0;
                margin-top: 20px;
                max-width: 250px;
            }
        }
        background-color: $lightLight;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        .title {
            display: flex;
            align-items: center;
            align-self: baseline;
            .name {
                font-size: 32px;
                font-weight: 300;
                margin: 10px;
                text-align: left;
            }
            .title-tag {
                justify-self: right;
            }
        }
        .details-wrapper {
            display:flex;
            justify-content: center;
            font-size: 18px;
            font-weight: 300;
            .labels {
                text-align: right;
                color: grey;
                font-weight: 200;
                margin: 10px;
                max-width: 150px;
            }
            .details {
                margin: 10px;
                width: 150px;
            }
        }
        .actions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .btn > button {
                margin: 1px;
            }
        }
    }
}