@import '../colors';
@import '../list';
@import '../tags';

.expanded-list {
    max-height: 70vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .email {
        svg {
            color: $light;
        }
    }
    .small-display {
        flex-grow: 2;
        .expanded-selection {
            margin: 2% 0;
            form {
                justify-content: center;
                .input-container.sm {
                    min-width: 100%;
                    margin-right: 20px;
                }
                .form-field.buttons{
                    padding: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
    .large-display {
        flex-grow: 2;
        max-width: 60%;
        .expanded-selection {
            margin-left: 2%;
            form {
                justify-content: center;
                .input-container.sm {
                    max-width: 200px;
                    margin-right: 20px;
                }
                .form-field.buttons{
                    padding: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
    .expanded-selection {
        form {
            .input-container{
                margin-top: 0px;

                &.sm{
                width: 100%;
                }
                input[type="number"],
                input[type="password"],
                input[type="email"],
                input[type="text"]{
                    font-size: 1.2em;
                    padding: 0.2em;
                }   
            }
            .form-field.buttons{
                padding: 0px;
                margin-top: 0px;
            }
        }

        background-color: $lightLight;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        .title {
            display: flex;
            align-items: center;
            align-self: baseline;
            flex-wrap: wrap;
            justify-content: center;
            
            .name {
                font-size: 32px;
                font-weight: 300;
                margin: 10px;
                text-align: left;
            }
            .title-tag {
                justify-self: right;
            }
        }
        .details-wrapper {
            display:flex;
            justify-content: center;
            font-size: 18px;
            font-weight: 300;

            .labels {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;

                .label{
                text-align: left;
                color: grey;
                font-weight: 200;
                margin: 10px;
                min-width: 150px;
                }
            }
            .details {
                margin: 10px;
                min-width: 150px;
            }
        }
        .actions {
            width: 100%;
            display: flex;
            align-self: center;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 15px;
            
            a{
                width: 100%;
            }
            .btn > button {
                margin: 1px;
            }
        }
    }
}
@media #{$mobileScreenSize} {
    .expanded-list {
        .expanded-selection{
            .actions{
                font-size: 12px;
                margin: 7px 0;
            }

            .title{
                flex-direction: column;
                align-self: center;

                .name{
                    font-size: 1.2rem;
                    margin: 5px;

                    p{
                        margin: 7px 0;
                    }
                }
            }
        }
    }
}

